body{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: grid;
  margin: 92px 49px 92px 51px;
  align-items: center;
  grid-template-columns: 388px 712px 1fr;
}

.header_menu-list {
  display: flex;
  list-style-type: circle;
  gap: 32px;
    
}

.header_menu-link {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: circle;    
}

.header_menu-item_active {
  text-decoration: none;
  list-style-type: none;
}

.header_logo {
  width: 135px;
  margin: 0 0 0 209px;
}

.header_address-list {
  display: flex;
  flex-direction: column;
  width: 240px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
  list-style-type: none;
}

.underlined_href {
  text-decoration: none;
  border-bottom: 2px solid black;
}

.cover {
  background-image:url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 757px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.overlay {
  inset: 0;
  position: absolute;
  background-color: #000;
  opacity: 0.6;
}

.cover_title {
  width: 100%;
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: 30px;
  text-transform: uppercase;
  margin: 165px 50px 0 50px;
  z-index: 1;
}

.accent-span{
  display: block;
  width: 1340px;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.normal-letter-spacing {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover_description {
  z-index: 1;
  display: flex;
  justify-content: end;
  font-size: 22px;
  text-transform: uppercase;
  gap: 78px;
  align-items: center;
  color: #FFF;
  padding-top: 135px;
  padding-bottom: 50px;
  padding-right: 50px;
}
  
.cover_description-text {
  word-spacing: 18px;
}
  
.bet_button {
  padding: 12px 32px;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.lots {
  margin: 180px 50px 0 50px;
}

.lots_heading {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 0 0 27px 40px;
}

.lots_card-list {
 
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 25px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.lots_card-list-item {
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-link {
  text-decoration: none;
}

.card {
  min-height: 450px;
  max-width: 430px;
  padding: 50px 40px 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  flex-basis: 430px;
}

.card_type_film {
  background-image:url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image:url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image:url(../images//card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_title {
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 0;
}

.card_text {
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  text-decoration-line: none;
  z-index: 0;
}

.lots_look-more-link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 30px 0 2px 40px;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px 25px;
  margin: 183px 50px 30px 50px;
  justify-content: center;
  align-content: center;
  min-height: 487px;  
}

.about_logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 240px;
  width: 240px;
  border-radius: 120px;
}

.about_logo-image {
  height: 114px;
  width: 148px; 
}

.about_title {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
}

.about_text {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.about_text_notfirst {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 25px;
}

.footer {
  display: flex;
  margin: 180px 50px 90px 50px;
  align-items: start;
  justify-content: space-between;
}

.footer_menu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  color: #000;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_social-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 45px;
}

.footer_social-icon {
  width: 50px;
}